.git
.gitignore
.cursor
.vscode
**/.DS_Store
**/node_modules
**/.next
**/.turbo
**/bin
**/*.md
.env
.env.*
!.env.example
apps/server/**
!apps/server/package.json
lefthook.yml
oxfmt.config.ts
oxlint.config.ts
docker-compose*.yml
Dockerfile*
emails
**/.dockerignore
