{
	admin off
}

{$CADDY_SITE:http://:80} {
	encode gzip
	header {
		Content-Security-Policy "img-src 'self' data: blob:; media-src 'self' blob:"
	}

	handle /api* {
		reverse_proxy server:8080
	}

	handle {
		reverse_proxy web:3000
	}
}
